<!DOCTYPE html>
<html>

<head>
    <title>
        AI Audio Restoration Studio
    </title>

    <link
        rel="stylesheet"
        href="/static/style.css"
    >
</head>

<body>

<div class="container">

    <h1>
        AI Audio Restoration Studio
    </h1>

    <form
        id="upload-form"
        enctype="multipart/form-data"
    >

        <input
            type="file"
            id="audio"
            accept=".mp3,.wav"
        >

        <button type="submit">
            Process Audio
        </button>

    </form>

    <div id="loading" style="display:none">
    Processing Audio...
    </div>

    <div id="results"></div>

</div>

<script>

document
.getElementById("upload-form")
.addEventListener(
"submit",
async function(e){

    e.preventDefault();

    const file =
    document.getElementById("audio")
    .files[0];

    const formData =
    new FormData();

    formData.append(
        "file",
        file
    );
    document
    .getElementById("loading")
    .style.display = "block";

    const response =
    await fetch(
        "/process",
        {
            method:"POST",
            body:formData
        }
    );

    const data =
    await response.json();

    document
    .getElementById("loading")
    .style.display = "none";

    document
    .getElementById("results")
    .innerHTML = `
        <h2>Cleaned Audio</h2>

        <audio controls>
            <source
                src="${data.cleaned_audio}"
                type="audio/wav"
            >
        </audio>

        <h2>Transcript</h2>

        <p>${data.transcript}</p>

        <h2>Metrics</h2>

        <div class="metrics">

            <div class="card">
                <h3>Duration</h3>
                <p>${data.metrics.duration}s</p>
            </div>

            <div class="card">
                <h3>Noise Reduction</h3>
                <p>${data.metrics.noise_reduction_percent}%</p>
            </div>

        </div>

        <h2>AI Assessment</h2>

        <pre>
        ${data.report}
        </pre>

        <h2>Waveform</h2>

        <img
            src="${data.waveform}"
            width="700"
        >

        <h2>Spectrogram</h2>

        <img
            src="${data.spectrogram}"
            width="700"
        >

        <h2>Removed Components</h2>

        <img
            src="${data.difference_spectrogram}"
            width="700"
        >
    `;
});

</script>

</body>
</html>